Label {
    -fx-text-fill: white;
}

.content {
    -fx-background-color: #333333;
}

.dark-bg {
    -fx-background-color: #222222;
}

.gray-bg {
    -fx-background-color: #828282;
}

.green-bg {
    -fx-background-color: #428c54;
}

.header {
    -fx-background-color: #222222;
    -fx-padding: 15px;
}

.heading {
    -fx-font-size: 18pt;
    -fx-font-weight: bolder;
    -fx-text-fill: #bdf5ff;
}

.foot {
    -fx-font-size: 18pt;
    -fx-font-weight: bolder;
    -fx-text-fill: #9effb6;
}

.infinite-height {
    -fx-pref-height: Infinity;
    -fx-text-fill: white;
}

.infinite-width {
    -fx-pref-width: Infinity;
    -fx-text-fill: white;
}

.list-view, .list-cell {
    -fx-background-color: transparent;
}

.m-2 {
    -fx-start-margin: 2px;
    -fx-end-margin: 2px;
}

.p-5 {
    -fx-padding: 5px;
}

.text-field, .list-cell:filled:selected:focused {
    -fx-background-color: #444444;
}

.transparent-list-cell:filled:selected:focused {
    -fx-background-color: transparent;
}

.red-bg {
    -fx-background-color: #770000;
}

.root {
    -fx-font-size: 12pt;
    -fx-font-family: "Trebuchet MS";
}

.text-white {
    -fx-text-fill: white;
}

.title {
    -fx-font-size: 24pt;
    -fx-font-family: 'Chalkduster';
}

.transparent {
    -fx-background-color: transparent;
}
